@font-face {
    font-family: 'Station';
    src: url('https://fontlibrary.org/assets/fonts/station/e7016aafeaac66b42d2ff44b03c31060/c1ecf0aa524f8650b7e8e6da65e455b6/StationMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
  margin: 0;
  font-family: Station;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
