a {
  color: inherit;
  text-decoration: inherit;
}

/* Portrait Orientation */

@media (orientation : portrait){
  .Product-image-container {
    display: block;
    width: 100%;
    height: 80%;
 }
 
  .Product-container {
    width: 100%;
    height: 65%;
    display: block;
  }
  
  .Product-container-text {
	height: calc(30% - 1em);
  }
  
  .Product-gallery-container {
    text-align: center;
    display: inline-block;
	vertical-align: top;
    width: 99%;
    height: 20%;
    overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
  }
  
  .Product-thumbnail-container {
	display: inline-block;
    vertical-align: middle;
	padding: 0 2vmin;
	height: 100%;
  }
  
  .Product-image-thumbnail {
    height: 100%;
	padding: 1vmin 0;
  }
  
  .Product-description {
	display: none;
  }
  
  .Product-image-selector {
	border-top: 5px solid #666; 
    border-left:  5px solid transparent;
    border-right: 5px solid transparent;
	position: absolute;
	left: calc(50% - 5px);
	top: 0;
	width: 0; 
    height: 0;
    z-index: 100;
  }
  
  .Product-exit {
	border-bottom: 2px solid; 
	text-align: center;
	width: 100%;
  }
  
  .Product-exit:after {
    content: '< Back to Video';
  }
}

/* Landscape Orientation */

@media (orientation : landscape){
  .Product-image-container {
    display: inline-block;
    width: calc(70% - 1vmin);
    height: 100%;
 }
 
 .Product-container {
    width: 49.5%;
    height: 92.5%;
    display: inline-block;
    vertical-align: middle;
  }
  
  .Product-gallery-container {
    text-align: center;
    display: inline-block;
	vertical-align: top;
    width: calc(30% + 1vmin);
    height: 99%;
    overflow-y: auto;
	overflow-x: hidden;
  }
  
  .Product-thumbnail-container {
	display: block;
	width: 100%;
  }
  
  .Product-image-thumbnail {
    width: 100%;
	padding: 0 1vmin;
  }
  
  .Product-image-selector {
	border-left: 5px solid #666; 
    border-top:  5px solid transparent;
    border-bottom: 5px solid transparent;
	position: absolute;
	left: 0;
	top: calc(50% - 5px);
	width: 0; 
    height: 0;
    z-index: 100;
  }
  
  .Product-exit {
	text-align: right;
	font-size: 4vmin;
	font-color: #666;
    width: 97.5%;
  }
  
  .Product-exit:after {
    content: 'X';
  }
}

/* Inital Button Click Styling */

.Product-button-cont {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Product-clickme {
  border: solid 2px #000;
  border-radius: 10px;
  font-size: 2.5vh;
  padding: 1vh;
  background-color: #fff;
  color: #000;
  font-family: Station;
  cursor: pointer;
}

.Product-clickme:hover{
  background-color: #000;
  color: #fff
}

/* Overall Pop Up Style */

.Product-body-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #666;
  position: fixed;
  top: 0;
  left: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.Product-body-container {
  border: solid 1vmin;
  height: 70vh;
  width: 60vw;
  font-family: 'Station';
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff
}

.Product-exit {
  font-weight: 700;	
  padding: 0.5vmin 0;
  cursor: pointer;
}

/* Image Styling */

.Product-image-selector {
  display: none;
}

.Product-thumbnail-container {
  position: relative;
}

.Product-image-display {
  max-height: 90%;
  max-width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  user-select: none;
}

.Product-image-container {
  text-align: center;
  position: relative
}

.Product-image-thumbnail {
  opacity: 0.8;
  cursor: pointer;
  user-select: none;
}

.Product-image-thumbnail:hover {
  opacity: 1;
}

.Product-image-selected {
  opacity: 1;
  display: block;
}

/* Text Side Styling */

.Product-container-text {
  overflow-y: auto;
}

.Product-name {
  text-transform: uppercase;
}

.Product-discovery-container {
  width: 100%;
  text-align: center;
}

.Product-discovery {
  font-size: 1.25em;
  font-weight: 700;
  border: solid 1px;
  width: 80%;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.Product-discovery:hover {
  color: #fff;
  background-color: #000;
}

